*{
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: font-family: 'Ubuntu', sans-serif!important;;
}
p, div {
}

html,body {
    height:100%;
}

div.container {
	background-color: #252839;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

header{
	width:100%;
	height:65px;
	background-color: #f2b632;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding-top: 15px;
	margin-bottom: 8px;
	font-family: 'Ubuntu', sans-serif!important;
}

header form
{
	padding-top: 10px;
	margin-right: 5px;
	right: 0;
}

div#search-container{
	min-width: 30%;
	display: inline-block;
	margin-left: 5%;
}

footer{
	color: white;
	bottom:0;
	right:0;
}

div.content {
	margin: 70px 12%;
	width: 74%;
	min-height: 75vh;
	min-width: 750px;
	max-width: 1000px;
	height: 100%;
	background-color: #677077;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: inline-block;
	padding-bottom: 50px;
}

ul.nav.navbar-nav
{
	margin: 0 auto!important;
}

ul.nav.navbar-nav li a
{
	color: black;
	font-size: 15px;
}

div#left-container {
	min-width: 540px;
	width: 70%;
	height: 100%;
	/*background-color: #677077;*/
	display: inline-block;
	float: left;
	font-family: 'Ubuntu', sans-serif!important;
}

div#right-container {
	min-width: 150px;
	width: 27%;
	height: 100%;
	/*background-color: #677077;*/
	display: inline-block;
	float: left;
	font-family: 'Ubuntu', sans-serif!important;
}

div#left-upper {
	margin-top: 3%;
	width: 97%;
	height: 350px;
	/*background-color: #b5b5b7;*/
	background-image: url("img/miskatonic.jpg");
	background-size: cover;
	margin-left: 3%;
}

div#left-middle {
	width: 97%;
	min-height: 200px;
	margin-top: 3%;
	margin-left: 3%;
}

div#left-middle-content{
	margin-top: 4%;
	margin-bottom: 4%;
	padding-right: 2.5%;
}

div#left{
	width: 30%;
	margin-left: 2.5%;
	background-color: #b5b5b7;
	display: inline-block;
}

div#middle{
	width: 30%;
	margin-left: 2.5%;
	background-color: #b5b5b7;
	display: inline-block;
}

div#right{
	width: 30%;
	margin-left: 2.5%;
	background-color: #b5b5b7;
	display: inline-block;
}

div#left img{
	width: 100%;
	height: auto;
}
div#middle img{
	width: 100%;
	height: auto;
}
div#right img{
	width: 100%;
	height: auto;
}

div.img-div-text{
	background-color: black;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding-top: 15px;
	height: 70px;
}

div.my-shadow{
	box-shadow: 0px 8px 14px -3px rgba(0,0,0,0.75);
}

div#left-bottom {
	width: 97%;
	height: 300px;
	background-color: #b5b5b7;
	margin-top: 3%;
	margin-left: 3%;
	margin-bottom: 3%;
}


div#left-bottom-header{
	height: 40px;
	font-size: 18px;
	background-color: #f2b632;
}

div#left-bottom-content{
	height: 260px;
}

div.news{
	height: 130px;
	padding: 10px 0px;
	width: 100%;
	border-bottom: solid #677077;
	border-width: 1px;
}

img.news-img{
	height: 100%;
	width: auto;
	vertical-align: top;
}

div.news-text{
	width: 75%;
	height: 100%;
	padding: 0 3%;
	display: inline-block;
	font-family: 'Ubuntu', sans-serif!important;
}

h5.news-header{
	color: black!important;
	font-weight: bold;
}

p.news-paragraph{
	color: black;
}

div#right-upper {
	width: 94%;
	height: 350px;
	margin-top: 7.5%;
	margin-left: 7.5%;
}

div#right-upper-header{
	height: 50px;
	font-size: 18px;
	font-weight: bold;
	color: #f2b632;
	padding-top: 8px;
	text-align: center;
}

div#right-upper-content{
	height: 300px;
	background-color: #b5b5b7;
}

div#right-upper-content table{
	height: 300px;
	width: 100%;
}

div#right-upper-content table tr:hover{
	cursor: pointer;
}

div#right-upper-content td{
	color: black;
	height: 25%;
	text-align: center;
	/*background: linear-gradient(#b5b5b7,#A2A2A4);*/
	background-color: #b5b5b7;
	padding: 2%;
}

div#right-upper-content td.img-td{
	text-align: left;
	width: 35%;
	padding-left: 3%;
}


div#right-upper-content td img{
	width: 65px;
	height: auto;
}

div#right-upper-content td.title-td{
	padding-right: 10%;
}

div#right-upper-content tr:not(:last-child){
	border-bottom: solid #677077;
	border-width: 1px;
}

div#right-middle-content table{
	height: 100%;
	width: 100%;
}

div#right-middle-content td{
	color: black;
	height: 25%;
	text-align: center;
	/*background: linear-gradient(#b5b5b7,#A2A2A4);*/
	background-color: #b5b5b7;
}

div#right-middle-content tr:not(:last-child){
	border-bottom: solid #677077;
	border-width: 1px;
}

div#right-middle-content td.degree{
	color: 	#008000;
	font-size: 18px;
	font-weight: bold;
	padding-right: 5%;
}

div#right-middle {
	width: 94%;
	height: 250px;
	margin-top: 7.5%;
	margin-left: 7.5%;
	background-color: #b5b5b7;
}

div.orange-header{
	height: 40px;
	font-size: 18px;
	color: black;
	background-color: #f2b632;
	padding-top: 8px;
	text-align: center;
}

div#right-middle-content{
	height: 210px;
}

div#right-bottom {
	width: 94%;
	margin-top: 7.5%;
	margin-left: 7.5%;
	margin-bottom: 7.5%;
	padding-top: 94%;
	background-image: url('img/EldritchHorrorBox.jpg');
	background-size: cover;
}